In [1]:
import pandas as pd
x = pd.Series(['Hari', 'Arya', 'Meenu', 'Silpa'], index =[1, 2, 3, 4])
print(x)

1     Hari
2     Arya
3    Meenu
4    Silpa
dtype: object

In [5]:
import pandas as pd
date=pd.date_range(start='05.01.2021',end='05.12.2021')
print(date)

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [2]:
import pandas as pd
dict= {
    'Name' : ['Keerthana', 'Kiran', 'Dachu'],
    'Age' : [24, 24, 25],
    'Sex' : ['M', 'M', 'M']
}
dframe = pd.DataFrame(dict)
print(dframe)

        Name  Age Sex
0  Keerthana   24   M
1      Kiran   24   M
2      Dachu   25   M

In [3]:
import pandas as pd

data = [[1, 'Keerthana', 'Thrissur',35,'F'], 
        [2,'Harishma', 'Thrissur', 32, 'F'], 
        [3,'Silpa', 'Adoor', 50, 'F'], 
        [4,'Arya', 'Varkala', 23, 'F'],
       [5,'Meenu','Ayyanthol',37,'F']]
df = pd.DataFrame.from_records(data)
print(df)

   0          1          2   3  4
0  1  Keerthana   Thrissur  35  F
1  2   Harishma   Thrissur  32  F
2  3      Silpa      Adoor  50  F
3  4       Arya    Varkala  23  F
4  5      Meenu  Ayyanthol  37  F

In [10]:
import pandas as pdf
df=pd.read_csv('Ex4.csv')
print(df)

      Id     Place
0  1      Thrissur
1    2      Kollam
2    3      Idukki
3    4      Vyanad
4    5      Kollam

In [4]:
import pandas as pd
details= {
    'Name' : ['Aish', 'Sona', 'Ammu'],
    'Id' : ['1', '3', '2'],
    'Age' : [22, 31, 12]
}
dataframe = pd.DataFrame(details)
print(dataframe)
print()
print()
print('SORTED DATAFRAME')
print(dataframe.sort_values(by=['Name','Age'], ascending=True))

   Name Id  Age
0  Aish  1   22
1  Sona  3   31
2  Ammu  2   12


SORTED DATAFRAME
   Name Id  Age
0  Aish  1   22
2  Ammu  2   12
1  Sona  3   31

In [5]:
import pandas as pd
details= {
    'Name' : ['Ammu', 'Kiran', 'Arya'],
    'Roll No' : [1, 2, 3],
    'Dept' : ['CS', 'Mech', 'MCA']
}
index = {'a', 'b', 'c'}
df = pd.DataFrame(details, index)
print(df)
print()
df.reset_index(inplace = True)
print(df)

    Name  Roll No  Dept
c   Ammu        1    CS
b  Kiran        2  Mech
a   Arya        3   MCA

  index   Name  Roll No  Dept
0     c   Ammu        1    CS
1     b  Kiran        2  Mech
2     a   Arya        3   MCA

In [6]:
import pandas as pd
data= {
    'Name' : ['Ammu', 'Kiran', 'Dachu'],
    'Roll No' : [1, 2, 3],
    'Dept' : ['CS', 'Mech', 'MCA']
}
index = {'a', 'b', 'c'}
df = pd.DataFrame(data)
print(df)
print()
Nd = df.head(2)
print(Nd)

    Name  Roll No  Dept
0   Ammu        1    CS
1  Kiran        2  Mech
2  Dachu        3   MCA

    Name  Roll No  Dept
0   Ammu        1    CS
1  Kiran        2  Mech

In [7]:
import pandas as pd
data= {
    'Name' : ['Keerthana','Kiran','Dachu','Sree','Vidhu'],
    'Occupation':['Engineer','Teacher','Manager','Teacher','Engineer'],
    'Salary':[45000,66000,55000,35000,20000]
}
df=pd.DataFrame(data)
print(df)
print()
print()
sal_avg= df.groupby('Occupation')['Salary'].mean() 
print(sal_avg)

        Name Occupation  Salary
0  Keerthana   Engineer   45000
1      Kiran    Teacher   66000
2      Dachu    Manager   55000
3       Sree    Teacher   35000
4      Vidhu   Engineer   20000


Occupation
Engineer    32500.0
Manager     55000.0
Teacher     50500.0
Name: Salary, dtype: float64

In [8]:
import pandas as pd
import numpy as np
data= {
    'Id' : [1, 2, 3],
    'Name' : ['Hari', 'Keerthana', 'Arya'],
    'Phone':[np.nan,9324137803,np.nan]
}
df=pd.DataFrame(data)
print(df)
print()
print()
df_nullfill = df.fillna(0)
print(df_nullfill)

   Id       Name         Phone
0   1       Hari           NaN
1   2  Keerthana  9.324138e+09
2   3       Arya           NaN


   Id       Name         Phone
0   1       Hari  0.000000e+00
1   2  Keerthana  9.324138e+09
2   3       Arya  0.000000e+00

In [20]:
data= {
    'cname' : ['Wipro','Cognizant','Applexus','UST'],
    'profit' : [1000000,2000000,-31110,-43000]
}
df=pd.DataFrame(data)
print(df)
print()
print()
df['profit'] = df['profit'].apply(lambda x:x>0)
print(df)

       cname   profit
0      Wipro  1000000
1  Cognizant  2000000
2   Applexus   -31110
3        UST   -43000


       cname  profit
0      Wipro    True
1  Cognizant    True
2   Applexus   False
3        UST   False

In [9]:
data1= {
    'eid' : [100,101,102,103],
    'ename' : ['Gouri','Ammu','Hari','Arya'],
    'stipend' : [50000,20000,13000,15000]
}
data2= {
    'eid' : [100,101,102,103],
    'designation' : ['senior manager','sales manager','manager','clerk']
}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print(df1)
print()
print()
print(df2)
print()
print()
dataframe = pd.merge(df1, df2, how = 'inner', on = 'eid')
print(dataframe)

   eid  ename  stipend
0  100  Gouri    50000
1  101   Ammu    20000
2  102   Hari    13000
3  103   Arya    15000


   eid     designation
0  100  senior manager
1  101   sales manager
2  102         manager
3  103           clerk


   eid  ename  stipend     designation
0  100  Gouri    50000  senior manager
1  101   Ammu    20000   sales manager
2  102   Hari    13000         manager
3  103   Arya    15000           clerk